<div class="card">
<div class="card-body">
  아이디 : <%= @post.id %> <br>
  타이틀 : <%= @post.title %> <br>
  작성자 : <%= @user_email%> <br>
  내용 : <%= @post.content %> <br>
  작성일 : <%= @post.created_at.strftime('%D') %> <br>  
  수정일 : <%= @post.updated_at.strftime('%D') %> <br>  
</div>
<a href='/post/modify/<%=@post.id %>'>[수정]</a>
<a href='/post/destory/<%=@post.id %>'>[삭제]</a>
</div>

<!-- 댓글 다는 폼 -->
<%= form_tag({controller:"post", action:"create_comment"}, method: "post") do %>
  <%= hidden_field_tag(:id, @post.id) %>
  <%= label_tag(:comment, "내용:") %> <%= text_field_tag(:content) %><br>
  <%= submit_tag("댓글") %>
<% end %>

<% @comments.each do |c| %>
<p><%=c.content %></p>
<% end %>